{ --------- GLOBAL ------------- }

[PLATFORM]

UseSwitchConfiguration		= FALSE

{ --------- ROPEWAY ------------ }

[CLONING]

CloneBetas					= TRUE

{ -------HYDRAULICPRESS ---------}

[CHARACTERS]

ReplaceBlacklistedChars		= FALSE

[VARIABLES]

UseIceConvention			= TRUE

DoCheckVariables			= TRUE

DoSwapNames					= FALSE

DoRemoveSignals				= TRUE

DoReplaceEmpty				= FALSE

[FILES]

CheckAllFiles				= FALSE

[RANDOMIZATION]

DoRandomize					= FALSE

SmartRandomization			= FALSE

[UTILITY]

DoCountWords				= TRUE

[BAKED]

NoCLTInBaked				= FALSE

NoPlatformInBaked			= FALSE