*.bak
*.user
*.exe
/TextTools/Bugvac/bin
/TextTools/Bugvac/obj
/TextTools/Bugvac/Properties/PublishProfiles
/TextTools/CrammedPiranhas/Debug
/TextTools/CrammedPiranhas/Release
/TextTools/CrammedPiranhas/x64
/TextTools/Crossbow/Debug
/TextTools/Crossbow/Release
/TextTools/Crossbow/x64
/TextTools/Electrohammer/Release
/TextTools/Electrohammer/x64
/TextTools/HiddenDoor/Release
/TextTools/HiddenDoor/x64
/TextTools/HydraulicPress/Debug
/TextTools/HydraulicPress/Release
/TextTools/HydraulicPress/x64
/TextTools/LooseFloorboard/bin
/TextTools/LooseFloorboard/obj
/TextTools/LooseFloorboard/Properties/PublishProfiles
/TextTools/MarkerStone/Release
/TextTools/MarkerStone/x64
/TextTools/Necronomicon/x64
/TextTools/PoolRules/x64
/TextTools/Ropeway/Release
/TextTools/Ropeway/x64
/TextTools/StackedBooks/Release
/TextTools/StackedBooks/x64
/TextTools/WhiteSheet/Release
/TextTools/WhiteSheet/x64
/TextTools/x64
/ImageTools/Adventurer/x64
/ImageTools/Debug
/ImageTools/Detective/x64
/ImageTools/Inventor/x64
/ImageTools/Maid/x64
/ImageTools/Pianist/x64
/ImageTools/TennisPro/x64
